@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", serif;
    background-color: #F1F9FF;
}
header {
    width: 95%;
    margin: auto;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 170px;
}
.select-nav {
    border: none;
    font-size: 18px;
}
.signin {
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
}
.h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
}
.h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main-p {
    width: 100%;
}
.main-img {
    width: 300px;
}
.ls {
    width: 60%;
}
.rs {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.signin-input {
    width: 300px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}
.signin-btn {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #007BFF;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 18px;
}
.signin-shadow {
    box-shadow: 2px 5px 5px gray;
}